<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>destination.smtp.server.com</smtpHost>
        <to>where@send.com</to>
        <from>tweetcollector@vodprofessional.com</from>
        <subject>APP ERROR: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="pushover" class="com.vodprofessionals.socialexplorer.logback.PushoverAppender">
        <pushoverToken>atokenhere</pushoverToken>
        <pushoverUser>auserhere</pushoverUser>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="email"/>
        <appender-ref ref="pushover"/>
    </root>
</configuration>